.registerForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.sampleLogo {
  margin: 55px auto 74.84px auto; /*상 우 하 좌*/
  width: 230px;
  height: 80.16px;
}

p {
  margin-bottom: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

#pwTitle {
  margin-top: 54px;
}

.registerInput {
  border: 1px solid #d1d1d1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 400px;
  height: 55px;
}

.registerInput::placeholder {
  color: #d1d1d1;
  font-size: 22px;
  padding: 12px 0 12px 17px;
}

#registerInput-bottom {
  margin-top: 14px;
}

#disagreeText {
  margin-top: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ff1c1c;
}
#correct {
  width: 400px;
  height: 25px;
}
.registerButton {
  margin: 54px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 55px;
  background: #3f8ded;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.signAllow {
  background: #e4e2e2;
}
.buttonConfirm {
  position: relative;
  bottom: 556px;
  left: 300px;
  width: 93px;
  height: 40px;
  background: #3f8ded;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.notAllow {
  background: #e4e2e2;
}
#certifyButton {
  position: relative;
  bottom: 585px;
}

.timer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ff1c1c;
  position: relative;
  bottom: 588px;
  left: 410px;
}
